body {
    background-color: #2b2c2c;
    color: #ffffff;
    padding: 1rem;
    align-items: center;
    margin: auto;
    width: max(50%, 900px);
}


p {
    margin: auto;
}


.nome {
  font-family: "Michroma", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  color: hsl(165, 55%, 44%);

}



.menu {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;          
  gap: 1rem;
  padding: 1rem;
  font-family: "Quicksand", sans-serif;
}


.opcaoMenu {
    display: flex;
    justify-content: space-around;
    margin: 0.2rem;
    padding: 0.2rem;
    border-radius: 1rem;
    height: 1.5rem;
    width: 8rem;
    text-align: center;
    background-color: white;
    border-style: solid;
    border-color: hsl(165, 55%, 44%);
    color: hsl(165, 55%, 44%);
    border-radius: 0.4rem;
}


.opcaoMenu:hover {
    border-color: hsl(226, 85%, 56%);
    color: hsl(226, 85%, 56%);
    cursor: pointer;
}


#cabecalho {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;
  gap: 1rem;
}



div[selecionado] {
    font-weight: bold;
    border-color: hsl(226, 85%, 56%);
    color: hsl(226, 85%, 56%);  
}


.botaoFormulario {
    width: 50%;
    margin: auto;
    font-size: large;
    height: 3rem;
    border-radius: 1rem;
    background-color: hsl(226, 85%, 56%);
    border-color: hsl(226, 85%, 56%);
    font-weight: bold;
    transition: 0.5s;
}


.botaoFormulario:hover {
    cursor: pointer;
}


.conteudo {
    background-color: rgb(32, 32, 32);
    padding: 1rem 0.6rem 1rem 0.6rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1.4rem;
    text-align: justify;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
}


.titulo_secao {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
}


.observacao {
    font-size: medium;
    font-style: italic;
}


input {
    height: 1.5rem;
}


form {
    align-self: center;
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}
